<footer>
    <div class="footer-col">
        <h4>Lorem, ipsum.</h4>
        <ul>
            <li>Lorem ipsum dolor sit amet.</li>
            <li>Lorem ipsum dolor sit amet.</li>
            <li>Lorem ipsum dolor sit amet.</li>
        </ul>
    </div>
    <div class="footer-col">
        <h4>Lorem, ipsum.</h4>
        <ul>
            <li><i class="fas fa-band-aid"></i>
               Lorem ipsum dolor sit amet consectetur.</li>
        </ul>
    </div>
    <div class="footer-col">
        <h4>Lorem, ipsum.</h4>

    </div>
</footer>