<nav>
  <div class="nav-content">
 <label for="Beauty Salon" class="logo">The Corner</label>
    <ul class="nav-links">
      <li routerLink="/home" class="link-item"><a href="/">Начало</a></li>
      <li routerLink="/manicure" class="link-item"><a >Маникюр</a></li>
      <li routerLink="/mesotherapy" class="link-item"><a >Мезотерапии</a></li>
      <li routerLink="/haistyle" class="link-item"><a >Прически</a></li>
      <li routerLink="/microblading" class="link-item"><a>Микроблейдинг</a></li>
    </ul>
</div>
</nav>





    