<section>
    <div class="title">
        <h2>Микроблейдинг</h2>
        <div class="line"></div>
    </div>
    <div class="manicure-container"> 
        <div class="manicure-content">
            
            <p>Отдайте се на най-доброто изживяване и поглезете вашите ръце и крака в Studio Elita, ние разполагаме с екип от висококвалифицирани и опитни маникюристи, които са посветени да останат в челните редици на модните тенденции. За тези, които желаят дълготрайни, устойчиви на шчупване нокти, нашите услуги за ноктопластика с гел са идеалното решение. Постигнете безупречни, издръжливи нокти с лъскаво покритие, което издържа седмици.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam, ipsam voluptate culpa totam animi voluptatem blanditiis dolores! Dolores quam excepturi maxime rerum? Fugiat cupiditate obcaecati rem reiciendis aspernatur corporis et dolor debitis, tempora, ipsam voluptate. Repellat repudiandae dolorem omnis odio optio, eaque, sequi laborum explicabo, ipsum error soluta inventore non.</p>
        </div>
    </div>
</section>

<section>
    <div class="manicure-img">
        <img src="https://images.unsplash.com/photo-1585885970325-81cba4494c27?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8bWljcm9ibGFkaW5nfGVufDB8fDB8fHww" alt="">
        <img src="https://plus.unsplash.com/premium_photo-1661582520932-3b990c5ac022?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MXx8bWljcm9ibGFkaW5nfGVufDB8fDB8fHww" alt="">
    </div>
</section>



<section>
    <div class="title">
        <h2>Цени</h2>
    </div>

    <table>
        <tr>
            <td>3D вежди “косъм по косъм” </td>
            <td>550лв</td>
        </tr>
        <tr>
            <td>3D вежди тип дантела, косъм пред косъм</td>
            <td>550лв</td>
        </tr>
        <tr>
            <td>6D вежди</td>
            <td>550лв</td>
        </tr>
        <tr>
            <td>Устни контур (3D устни)</td>
            <td>690лв</td>
        </tr>
        <tr>
            <td>3D устни “блендинг”</td>
            <td>690лв</td>
        </tr>
        <tr>
            <td>Очна линия горна (инфралаш)</td>
            <td>490лв</td>
        </tr>
        <tr>
            <td>Очна линия горна (опушена) </td>
            <td>590лв</td>
        </tr>
    </table>

</section>
