<section class="service">
    <div class="title">
        <h1>Какво ви предлага нашият Салон за Красота</h1>
        <div class="line"></div>
    </div>

<div class="row">
    <div class="col">
        <img class="image" src="https://images.unsplash.com/photo-1604654894610-df63bc536371?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8bWFuaWN1cmV8ZW58MHx8MHx8fDA%3D" alt="">
        <div class="overlay">
                <h4>Маникюр</h4>
        <p>Висококачествен маникюр за всеки повод и сезон.</p>
        <div class="second-line"></div>
        <a routerLink="/manicure" href="#"  class="btn">Научи повече</a>
        </div>
    </div>
    <div class="col">
        <img class="image" src="https://images.unsplash.com/photo-1549236177-77e8271c34b6?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8aGFpcnN0eWxlc3xlbnwwfHwwfHx8MA%3D%3D" alt="">
        <div class="overlay">
            <h4>Фризьорски услуги</h4>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sed, cupiditate.</p>
    <div class="second-line"></div>
    <a href="#"  class="btn">Научи повече</a>
</div>
    </div>
    <div class="col">
        <img class="image" src="https://plus.unsplash.com/premium_photo-1661295617603-44c4f9dfd00f?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MXx8bWVzb3RoZXJhcHl8ZW58MHx8MHx8fDA%3D" alt="">
        <div class="overlay">
            <h4>Мезотерапии</h4>
    <p>3D Мезо Ботокс лифтинг терапия на цяло лице</p>
    <div class="second-line"></div>
    <a href="#"  class="btn">Научи повече</a>
</div>
    </div>
    <div class="col">
        <img class="image" src="https://plus.unsplash.com/premium_photo-1661581957033-b8398b81eb54?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8NHx8bWljcm9ibGFkaW5nfGVufDB8fDB8fHww" alt="">
        <div class="overlay">
            <h4>Микроблейдинг</h4>
    <p>Микроблейдингът, известен още като 3D вежди „косъм по косъм“.</p>
    <div class="second-line"></div>
    <a href="#"  class="btn">Научи повече</a>
    </div>
    </div>
    
</div>
</section>

<section>
    <div class="hair-container">
    <div class="hair-content">
        <h1>Гаранция за перфектна прическа</h1>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dolores voluptatibus ad ipsa necessitatibus illum debitis animi, odio nulla? Tenetur accusamus, nesciunt laboriosam nostrum ipsum fugit tempora, possimus dignissimos nulla totam explicabo sequi temporibus dolorum, sapiente sunt iusto distinctio illum architecto?</p>
    </div>
</div>

<div class="hair-container">
   
    <div class="hair-content">
        <h1>Микроблейдинг - безопасен и активен</h1>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dolores voluptatibus ad ipsa necessitatibus illum debitis animi, odio nulla? Tenetur accusamus, nesciunt laboriosam nostrum ipsum fugit tempora, possimus dignissimos nulla totam explicabo sequi temporibus dolorum, sapiente sunt iusto distinctio illum architecto?</p>
    </div>
    
</div>
</section>
